// accordion component

.accordion {
  overflow: hidden;
  margin-bottom: 10px; 

  .accordion__head,
  .accordion__body{
    border-radius: 8px;
    padding: 22px 52px 22px 22px;
    border: 3px solid black;
    margin-bottom: 10px;
  }
  .accordion__head{
    font-size: 1.125em;
    position: relative;
    font-weight: lighter;
    z-index: 2;
    background-color: white;

    &:hover, &:focus{
      cursor: pointer;
    }

    // -
    &:after{
      width: 20px;
      height: 3px;
      right: 19px;
    }
    // |
    &:before{
      width: 3px;
      height: 20px;
      right: 27px;
      margin-top: -8px;
    }
    
    &:after, &:before{
      position: absolute;
      background-color: black;
      content: '';
      top: 50%;
    }
  }

  .accordion__body{
    transform: translateY(-100%) scale(.95);
    background-color: gray;
    transition: all 0.5s ease;
    z-index: 1;
  }
  &.active{
    .accordion__body{
      transform: translateY(0) scale(1);
      background-color: white;
    }
  }
}